body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Red {
  background-color: red;
  color: red;
}

.Green {
  background-color: green;
  color: green;
}

.Blue {
  background-color:  rgb(50,50,200);
  color:  rgb(50,50,200);
}

.Yellow {
  background-color: rgb(240,210,110);
  color: rgb(240,210,110);
}

.ColourRow, .ScoringRules, .ScoreRow {
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  border-color: white;
}

.ColourRow {}

.ScoringRules {
  background: grey;
  padding: 5px;
}

.ScoreRow {
  padding-left: 30px;
  background-color: grey;
  padding: 10px;
}

.ScoreBoard {
  padding: 50px;
  width: 750px;
}

.Count {
  height: 50px;
}


.Rule {
  display: table-cell;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-width: 6px;
  border-radius: 15px;
  border-style: solid;
  color: grey;
  background-color: lightgrey;
  width: 35px;
  height: 45px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}

.RuleScore, .RuleCount {
  
}

.Penalties {
  display: table-cell;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  border-radius: 15px;
}

.Text {
  color: white;
}

.Penalty {
  display: table-cell;
  border-width: 6px;
  border-radius: 10px;
  border-style: solid;
  color: grey;
  background-color: lightgrey;
  width: 20px;
  height: 20px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}


.Divider {
  font-family: Arial, Helvetica, sans-serif;
  display: table-cell;
  font-size: 25px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.Score, .Lock, .Number {
  font-family: Arial, Helvetica, sans-serif;
  display: table-cell;
  font-size: 25px;
  border-width: 7px;
  border-radius: 15px;
  border-style: solid;
  width: 50px;
  height: 33px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  background-color: hsla(0, 0%, 100%, 0.8);
  cursor: pointer;
}

.Lock {
  width: 20px;
}

.Score {
  width: 70px;
}

.Checked {
  background-color: black;
  opacity: 50%;
  cursor: not-allowed;
}

.Unchecked {

}

.Total {
  width: 100px;
}